@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-poppins-regular {
  font-family: var(--font-poppins-regular);
  font-weight: 400;
}

.font-poppins-bold {
  font-family: var(--font-poppins-bold);
  font-weight: 700;
}

