.main {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f4f6 ;
}

.CharacterSection {
margin: 0 auto;
max-width: 1200px;
padding: 0 20px;
}


.SectionButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.ButtonsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.Button{
    background-color: #1d4ed8;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.Button:hover{
    background-color: transparent;
    color: #1d4ed8;
    border: solid 2px #1d4ed8;
}

/* Responsividade */

@media (max-width: 768px) {
  .CharacterSection {
    padding: 0 10px;
  }

  .SectionButtons {
    flex-direction: column;
    gap: 0.5rem;
  }

  .ButtonsContainer {
    flex-direction: column;
    gap: 0.5rem;
  }

  .Button {
    width: 100%;
    text-align: center;
  }
}
