.main {
  width: 100%;
  min-height: 100vh;
  margin-top: 6rem;
  background-color: #f3f4f6 ;
}

.banner{
  width: 100%;
  height: 450px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerVideo{
  width: 100%;
  margin: 0 auto;
  height: 400px;
  object-fit: cover;
  display: block;
}

.title {
  width: 50%;
  height: 40%;
  font-size: 3rem;
  font-weight: 800;
}

.personagens {
  margin: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.titlePersonagens{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1d4ed8;
}

.descriptionPersonagens{
  font-size: 1.2rem;
  color: #555;
  text-align: center;
  max-width: 800px;
}

.searchContainer {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 300px;
  padding: 0.4rem 1rem;
  width: 500px;
  border: 2px solid #1d4ed8;
  border-radius: 25px 0  0  25px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.searchButton {
  padding: 0.4rem 1.5rem;
  border: 2px solid #1d4ed8;
  border-left: none;
  background-color: #1d4ed8;
  color: white;
  border-radius: 0 25px 25px 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #2563eb;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  max-width: 1200px;
}

.card {
  background-color: #e5e7eb;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 440px;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  border: 2px solid #1d4ed8;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}

.image {
  width: 200px;
  height: 200px;
  margin: 0 auto 1rem auto;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.detailsContainer {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.details {
  background-color: transparent;
  border: 2px solid #1d4ed8;
  color: #1d4ed8;
  padding: 0.4rem 1.2em;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.details:hover {
  background-color: #1d4ed8;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}


/* Responsividade */

@media (max-width: 768px) {
  .searchInput {
    width: 100%;
  }

  .cardsContainer {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .card {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
  }

  .pagination {
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 0.9rem;
  }
}
